
@{
    ViewBag.Title = "User years";
}
<script>
    var currUser = @ViewBag.username
</script>

<div id="bodyContainer" ng-app="GradingBookApp" ng-controller="HomeController">
    <input type="hidden" name="username" value="currUser" ng-bind="username"/>
    {{username}}
    <div ng-init="findUser('Adam')">
        @*<input type="text" name="username" value="user" ng-model="user" />
            <button class="btn btn-default" ng-click="findUser(user)">Find user!</button>*@
        <div ng-if="isLoading">
            <p class="ng-animate">LOADING...</p>
        </div>
        <p>{{getUser}}</p>
        <ul>
            <li ng-repeat="year in getYears">
                <span>{{year.name}} : {{year.year_desc}}</span>
                <ul>
                    <li ng-repeat="subject in year.Subjects">
                        <span>{{subject.name}} : </span>
                        <span>{{subject.description}}</span>
                    </li>
                </ul>
            </li>
        </ul>


        <table ng-table="yearsTable" class="table table-striped">
            <tr ng-repeat="year in data">
                <td title="'Name'" sortable="'name'">
                    {{year.name}}
                </td>
                <td title="'Description'" sortable="'year_desc'">
                    {{year.year_desc}}
                </td>
            </tr>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/ng-table")
@Scripts.Render("~/ScriptsApp/Controllers/HomeController.js")

